<?xml version="1.0"?>

<launch>

  <!--<arg name="world_name" default="worlds/empty.world"/>-->

    <!--  	
    
    <include file="$(find pioneer3at)/launch/robot_control.launch">
    </include>
 -->
  
    <group ns="larger_robot">
        <include file="$(find robot_control)/launch/larger_robot.launch" ></include>
        <node name="Localization" pkg="robot_control" type="localization" output="screen" respawn="true" args="larger_robot"/>
        <node name="Laser" pkg="robot_control" type="laser" output="screen" respawn="true" args="larger_robot"/>
        <node name="Mapping" pkg="robot_control" type="mapping" output="screen" respawn="true" args="larger_robot"/>
        <node name="Navigation" pkg="robot_control" type="navigation" output="screen" respawn="true" args="larger_robot"/>
        <node name="Control" pkg="robot_control" type="control" output="screen" respawn="true" args="larger_robot"/>
    </group>
    <!--
    -->
    
    <group ns="smaller_robot">
        <include file="$(find robot_control)/launch/smaller_robot.launch" ></include>
        <node name="Localization" pkg="robot_control" type="localization" output="screen" respawn="true" args="smaller_robot"/>
        <node name="Laser" pkg="robot_control" type="laser" output="screen" respawn="true" args="smaller_robot"/>
        <node name="Mapping" pkg="robot_control" type="mapping" output="screen" respawn="true" args="smaller_robot"/>
        <node name="Navigation" pkg="robot_control" type="navigation" output="screen" respawn="true" args="smaller_robot"/>
        <node name="Control" pkg="robot_control" type="control" output="screen" respawn="true" args="smaller_robot"/>
    </group>



    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find robot_control)/world/containers_real.world"/>
      <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

</launch>